<script src="/assets/js/login.js"></script>

<form class="form-signin" action="javascript:submitform()">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Meeting Booking System</h1>
    </div>

    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputEmail">Username</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a class="mt-5 mb-3 text-center" href="/register">Register</a>
    <p class="mt-5 mb-3 text-muted text-center">elSoware&copy; 2017-2018</p>

</form>
</body>