<script src="/assets/js/register.js"></script>

<form class="form-signin" action="javascript:submitform()">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Meeting Booking System</h1>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputName">Name</label>
    </div>

    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required>
        <label for="inputEmail">Email</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
        <label for="inputConfirmPassword">Confirm Password</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    <a class="mt-5 mb-3 text-center" href="/login">Log In</a>
    <p class="mt-5 mb-3 text-muted text-center">elSoware&copy; 2017-2018</p>

</form>
</body>